body {
    font-family: 'Roboto', 'Arial', sans-serif;
    margin: 0;
}

.header {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    text-wrap: nowrap;
}
.right_links a {
    list-style-type: none;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}
.container_1 {
    background-color: #1F2937;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: 1;
}
.container_1 img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    display: flex;
    flex-shrink: 0;
}
.text1 {
    max-width: 450px;
    margin-right: 12px;
}
.title1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 12px;
    margin-right: 12px;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 20px;
}
.text1 button {
    background-color: #3882f6;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 12px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
}
.container_2 {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0;
}
.title2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
    text-align: center;
}
.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.info li, a {
    list-style: none;
    text-align: center;
    width: 150px;
    color: #1F2937;
    text-decoration: none;
}
.container_3 {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 100px;
    padding-left: 170px;
    padding-right: 170px;
    margin: 0;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align: end;
}
.attribution {
    font-size: 24px;
    font-weight: 600;
    padding-top: 12px;
    text-align: end;
}
.container_4 {
    padding-left: 100px;
    padding-right: 100px;
}
.container_5 {
    background-color: #3882f6;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}
.action {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}
.details {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 14px;
    max-width: 300px;
}
.container_5 button {
    text-wrap: nowrap;
    background-color: #3882f6;
    padding: 12px;
    margin-bottom: 14px;
    border-radius: 12px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: 2px, solid, #f9faf8;
}
.footer {
    background-color:#1f2937;
    padding: 40px;
    color:#e5e7eb;
    text-align: center;
}